/* 公共样式 */
html{
    font-size:14px;
}
body {
    font-family: "微软雅黑";
    font-size: 14px;
    color: #333333;
    background-color: #EEEEEE;
}
*{
    padding:0;
    margin:0;
}

a{
    color:#333333;
    text-decoration: none;
}
a:hover{
    color:#333333;
    text-decoration: none;
}
p,h1,h2,h3,h4,h5,h6,ul{
    margin:0;
}
li{
    list-style: none;
}
img{
    max-width:100%;
}
i{
    font-style: normal;
}

/* 首页开始 */
/* banner */
.header_box{
    position: relative;
}
.banner_box a{
    display:block;
    width:100%;
}
/* 公告 */
.information_box{
    height:20px;
    width:94%;
    position: absolute;
    left:50%;
    top:80%;
    transform: translate(-50%,-80%);
    background-color:rgba(255,255,255,0.4);
    font-size:12px;
    line-height:20px;
    display:flex;
    border-radius:5px;
    overflow: hidden;

}
.information_box>p{
    margin-right:10px;
    margin-top:2px;
    margin-left:10px;
    
}
.information_box>p>img{
    height:16px;
}
.ul1>li{
    height:20px;
    overflow: hidden;
}


/* 比特币 */
.bt_box{
    height:74px;
    width:94%;
    position: absolute;
    left:3%;
    top:85%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color:#fff;
    box-shadow: 0 0 5px #ccc;
    border-radius:8px;
    box-sizing: border-box;
    padding-left:12px;
    padding-right:12px;
}

.bt_box>div:first-child>img{
    max-width:50px;
}

.bt_box>div:nth-child(2)>p:first-child{
    margin-bottom:11px;
}
.bt_box>div:nth-child(2)>p:first-child>span:first-child{
    font-size:18px;
    color:#000;
    font-weight:bold;
    display:inline-block;
    margin-right:17px;
}
.bt_box>div:nth-child(2)>p:nth-child(2){
    color: #43d0ce;
}

.bt_box>div:last-child>a{
    display:inline-block;
    width: 75px;
	height: 30px;
	background-color: #43d0ce;
    border-radius: 10px;
    text-align: center;
    line-height:30px;
    color:#fff;

}
/* 借币钱包 */
.money_box{
    box-shadow: 0 0 5px #ccc;
    width:94%;
    margin:auto;
    margin-top:50px;
    margin-bottom:20px;
    box-sizing: border-box;
    border-radius:8px;
    background-color:#fff;
}

.money_title{
    display:flex;
    align-items: center;
    height:50px;
    text-align: center;
    padding-left:12px;
    padding-right:12px;
    border-bottom:1px solid #ddd;
}
.money_title>li:not(:last-child){
    margin-right:20px;
}
.money_title>li{
    height:48px;
    display:flex;
    align-items: center;
}
.money_title>li:not(:first-child){
    border-bottom:2px solid transparent;
}

.money_title>li:first-child{
    color: #075bd9;
    border-bottom:2px solid #075bd9;
}


.money_content{
    padding-left:10px;
    padding-right:10px;
    padding-top:15px;
    padding-bottom:15px;
}
.money_content>li>div{
    display:flex;
    align-items: center;
}
.money_content>li>div>div:first-child{
    margin-right:10px;
}
.money_content>li>div>div:first-child>img{
    max-width:70px;
}
.money_content>li>div>div:nth-child(2)>p>a{
    font-size:12px;
    max-width:210px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:#075bd9;
}
@media (min-width:380px){
    .money_content>li>div>div:nth-child(2)>p>a{
        max-width:100%;
    }  
}
@media (max-width:350px){
    .money_content>li>div>div:nth-child(2)>p>a{
        max-width:180px;
    }  
    .money_content>li>div>div:nth-child(2)>p:first-child{
        font-size:12px;
    }
}
.money_content>li>div>div:nth-child(2)>p{
    display:flex;
    justify-content: flex-start;
}
.money_content>li>div>div:nth-child(2)>p>span{
    font-size:12px;
    display:inline-block;
    width:30px;
}
.money_content>li>div>div:nth-child(2)>p:first-child{
    color: #075bd9;
    margin-bottom:2px;
    font-weight:bold;
}
.money_content>li:nth-child(2),.money_content>li:nth-child(3){
    display:none;
}


/* 新手专享 */
.content_main_box{
    width:94%;
    margin:auto;
    box-sizing: border-box;  
}
.content_main_box>div:first-child{
    padding-bottom:5px;
    border-bottom:1px solid #000;
    margin-bottom:10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.content_main_box>div:first-child>h2{
    font-size:16px;
    font-weight:bold;
    color:#075bd9;
}

.message_div{
    height:65px;
    padding:0 12px;
    box-shadow: 0 0 5px #ccc;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#fff;
    margin-bottom:10px;
    border-radius:4px;
}
.message_div>div:first-child>p:first-child{
    font-size:28px;
    color: #f58d26;
}
.message_div>div:first-child>p:nth-child(2){
    font-size:12px;
}
.message_div>div:nth-child(2)>p:first-child{
    margin-bottom:8px;
    color:#000;
}

.message_div>div:nth-child(3)>a{
    display:flex;
    align-items: center;
}
.message_div>div:nth-child(3)>a>p:first-child{
    margin-right:5px;
    color:#075bd9;
}
.message_div>div:nth-child(3) img{
    width:15px;
}

/* 热门推荐 */
.margin_top{
    margin-top:18px;
}
.juli_length{
    margin-bottom:84px;
}
/* 导航 */
.nav_box{
    display:flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height:50px;
    border-top:1px solid #ddd;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    z-index:999;
    background-color:#fff;
}
.nav_box>div>a>p:first-child{
    height:26px;
    line-height:26px;
    display:flex;
}
.nav_box>div img{
    width:24px;
    max-height:26px;
    margin:auto;
}

/* 首页结束 */
/* 投资页开始 */
.touzi_header{
    height:44px;
    border-bottom:1px solid #ddd;
    background-color:#fff;
    display:flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:999;
}
.touzi_header>div:first-child{
    margin-right:75px;
}
.touzi_header>div>p:nth-child(2){
    height:2px;
    text-align: center;
    position: relative;
    top:-2px;
}
.touzi_header>div>p>span{
    display:inline-block;
    width:20px;
    height:2px;
    background-color:#075bd9;
}
.touzi_header>div>p>a{
    font-size:16px;
}
.touzi_header>div:first-child>p:first-child>a{
    color:#075bd9;
}
.touzi_header>div:nth-child(2)>p:nth-child(2)>span{
    background-color:transparent;
}
/* 小横条 */
.extract_div{
    height:25px;
    line-height:25px;
    background-color: #dfe7f2;
    display:flex;
    overflow: hidden;
    margin-top:45px;
}
.extract_div>span:nth-child(2){
    font-size:12px;
}
.extract_div>span{
    display:inline-block;
}
.extract_div>span:first-child{
    margin-left:15%;
    margin-right:5%;
}

/* 新手专区 */
.new_hand_box{
    margin-top:17px;
}

.new_hand_title{
    border-bottom:1px solid #000;
    margin-bottom:12px;
    padding-left:3%;
}
.new_hand_title>span:first-child{
    display:inline-block;
    margin-right:10px;
    font-size:16px;
    color:#075bd9;
    font-weight:bold;
}

/* 滑动 */
.wrapper01 {
    position: relative;
    height:120px;
    width: 94%;
    overflow: hidden;
    margin: 0 auto;
    box-sizing: border-box;   
}

.wrapper01 .scroller {
    position: absolute;
}

.wrapper01 .scroller li {
    height:120px;
    float: left;
    text-align: center;
}

.wrapper01 .scroller li a {
    display: block;
    width:230px;
    height:120px;
    background-color:#fff; 
    padding:12px;
    box-shadow: 0 0 5px #ccc;
    box-sizing: border-box;
    border-radius:12px;
}
.wrapper01 .scroller li:not(:first-child)>a{
    margin-left:12px;
}

.scroller_li>a>div:first-child{
    display:flex;
    align-items: center;
}
.scroller_li>a>div:first-child>div:first-child{
    border-right:1px solid #ddd;
    padding-right:14px;
}
.scroller_li>a>div:first-child>div:nth-child(2){
    padding-left:14px;
}
.top_div>div:first-child>p:first-child{
    font-size:28px;
    color: #f58d26;
}
.top_div>div:first-child>p:nth-child(2){
    font-size:12px;
}
.top_div>div:nth-child(2)>p:first-child {
    font-size:16px;
    color:#000;
    margin-bottom:10px;
}
.top_div>div:nth-child(2)>p:nth-child(2){
    font-size:12px;
}
.bottom_div{
    width:130px;
    height:24px;
    line-height:24px;
    color:#fff;
    background-color:#075bd9;
    border-radius:25px;
    text-align: center;
    margin:auto;
    margin-top:15px;
}

/* 热门推荐 */
.touzi_hot_div{
    margin-top:17px;
    margin-bottom:84px;
}
/* 内容 */
.touzi_hot_content{
    background-color:#fff;
    box-shadow: 0 0 5px #ccc;
    box-sizing: border-box;
    border-radius:12px;
    width:94%;
    margin:auto;
    padding:12px;
    margin-bottom:14px;
}
.touzi_hot_content>a{
    display:inline-block;
    width:100%;
}
.touzi_hot_content>a>p:first-of-type{
    font-size:16px;
    font-weight:bold;
    color:#000;
}

.touzi_hot_line{
    display:flex;
    justify-content: space-between;
}

.touzi_hot_data{
    display:flex;
    align-items: center;
    margin-top:10px;

}
.touzi_hot_data>div:first-child{
    padding-right:20px;
    border-right:1px solid #ddd;
}
.touzi_hot_data>div:nth-child(2){
    padding-left:20px;
}
.touzi_hot_data>div:first-child>p:first-child{
    font-size:28px;
    color:#f58d26;
}
.touzi_hot_data>div:first-child>p:nth-child(2){
    font-size:12px;
}
.touzi_hot_data>div:nth-child(2)>p:first-child{
    font-size:16px;
    color:#000;
    margin-bottom:10px;
}
.touzi_hot_data>div:first-child>p:first-child>span{
    font-size:12px;
    position: relative;
    top:-10px;
}
@media(max-width:350px){
    .touzi_hot_data>div:first-child{
        padding-right:7px;
    }
    .touzi_hot_data>div:nth-child(2){
        padding-left:7px;
    }
}

/* 投资页结束 */

/* 我的页面开始 */
/* header */
.myself_header{
    height:44px;
    background-color:#fff;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left:3%;
    padding-right:3%;
}
.myself_header>div:first-child{
    display:flex;
    align-items: center;
}
.myself_header>div:first-child>img{
    max-width:35px;
    margin-right:12px;
}
.myself_header>div:first-child>span{
    color:#000;
}
.myself_header>div:nth-child(2)>a{
    display:inline-block;
    width:70px;
    height:25px;
    color:#fff;
    background-color:#075bd9;
    text-align: center;
    line-height:25px;
    border-radius:10px;
    font-size:12px;
}
/* 总资产 */
.myself_money{
    background-color:#075bd9;
    width:94%;
    margin:auto;
    box-sizing: border-box;
    padding:12px;
    border-radius:10px;
    margin-top:15px;
}
.myself_money>a{
    display:inline-block;
    width:100%;
    color:#fff;
}

.myself_money>a>p{
    font-size:16px;
    margin-bottom:12px;
}

.myself_num{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.myself_num>div:nth-child(2)>img{
    max-width:30px;
}
.myself_num>div:first-child>p:first-child{
    margin-bottom:12px;
}
.myself_num>div:first-child>p:first-child>span:first-child{
    font-size:16px;
    font-weight:bold;
    display:inline-block;
    margin-right:8px;
}

.myself_num>div:first-child>p:nth-child(2){
    font-size:12px;
}
.myself_num>div:first-child>p:nth-child(2)>span:first-child{
    display:inline-block;
    padding-right:12px;
    border-right:1px solid #fff;
}
.myself_num>div:first-child>p:nth-child(2)>span:nth-child(2){
    display:inline-block;
    padding-left:12px;
}
@media (max-width:350px){
    .myself_num>div:first-child>p:nth-child(2)>span:first-child{
        display:block;
        padding-right:0px;
        border-right:0px;
    }
    .myself_num>div:first-child>p:nth-child(2)>span:nth-child(2){
        display:block;
        padding-left:0px;
    }
}
/* 我的出借  联系我们  帮助中心 */
.myself_module_nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top:20px;
    margin-bottom:20px;
}
.myself_module_nav>div>a{
    display:inline-block;
    width:100%;
}
.myself_module_nav>div>a>img{
    max-width:40px;
}
.myself_module_nav>div>a>p{
    margin-top:5px;
    color:#000;
}
/* 栏目 */
.lanmu_container{
    width:94%;
    margin:auto;
    margin-bottom:85px;

}
.lanmu_box{
    margin-bottom:15px;
}
.lanmu_color{
    color:#075bd9;
    font-size:16px;
    font-weight:bold;
}
.lanmu_p>a{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:40px;
    border-bottom:1px solid #ddd;
    
}
.lanmu_p>a>span:nth-child(2){
    display:flex;
    align-items: center;
    font-size:12px;
}
.lanmu_p>a>span:nth-child(2)>i{
    color:#f58d26;
    display:inline-block;
    margin-right:10px;
}
.lanmu_p>a>span:nth-child(2)>img{
    max-height:20px;
}

/* 我的页面结束 */


/* 资金安全  专业风控  实力平台   开始*/
/* 头部导航 */
.all_html_header{
    height:44px;
    background-color: #075bd9;
    box-sizing: border-box;
    position: fixed;
    left:0;
    right:0;
    top:0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left:15px;
    padding-right:15px;
    z-index:999;
}
.all_html_header>div:nth-child(2){
    margin:auto;
}
.all_html_header>div:nth-child(2)>p{
    font-size:18px;
    color:#fff;
}
.all_html_header>div:nth-child(3) a{
    color:#fff;
}
.head_ul{
    display:flex;
    height:30px;
    width:270px;
    border:2px solid #fff;
    border-radius:5px;
}
.head_ul>li{
    flex-grow:1;
}
.head_ul>li>a{
    display:inline-block;
    width:100%;
    line-height:30px;
    text-align: center;
    color:#fff;
    font-size:16px;
}
.head_ul>li:not(:last-child){
    border-right:2px solid #fff;
}
.head_ul>li:first-child>a{
    color:#075bd9;
    background-color:#fff;
}
/* 主体部分 */

.length_top_lr{
    margin-top:56px;
    margin-left:15px;
    margin-right:15px;
}
.safe_box>div,.special_box>div,.actual_box>div{
    box-shadow: 0px 4px 10px 0.7px rgba(7, 0, 2, 0.2);
    border-radius:10px;
    padding:15px 10px;
    background-color:#fff;
}
.safe_box>div,.special_box>div,.actual_box>div{
    margin-bottom:20px;
}
/* 资金安全 */
.safe_first_div>h3,.safe_second_div>h3,.safe_third_div>h3{
    font-size:16px;
    text-align: center;
    color:#075bd9;
}
.safe_first_div>div,.safe_second_div>div,.safe_third_div>div{
    text-align: center;
    margin-top:15px;
    margin-bottom:15px;
}
.safe_first_div>p,.safe_second_div>p,.safe_third_div>p{
    font-size:12px;
}

/* --- */
.safe_third_div>div{
    color: #f58d26;
    font-size:12px;
}
.safe_third_div>div>p:not(:last-child){
    margin-bottom:7px;
}
.safe_third_div>div>p:first-child{
    font-size:14px;
}
/* 专业风控 */
.special_first_div>h3,.special_second_div>h3,.special_third_div>h3{
    font-size:16px;
    text-align: center;
    color:#075bd9;
}
.special_first_div>p,.special_second_div>p,.special_third_div>p{
    font-size:12px;
}
.special_first_div>div,.special_second_div>div,.special_third_div>div{
    text-align: center;
    margin-top:15px;
    margin-bottom:15px;
}
.special_first_div>div{
    display:flex;
    justify-content: space-around;
}
.special_first_div>div>p{
    font-size:16px;
    color:#fff;
    background-color:#f58d26;
    padding:10px 12px;
}
.special_first_div>div>p>span{
    display:inline-block;
    width:32px;
}
/* 实力平台 */
.actual_first_div>h3,.actual_second_div>h3,.actual_third_div>h3{
    font-size:16px;
    text-align: center;
    color:#075bd9;
}
.actual_first_div>p,.actual_second_div>p,.actual_third_div>p{
    font-size:12px;
}
.actual_first_div>div,.actual_second_div>div,.actual_third_div>div{
    text-align: center;
    margin-top:15px;
    margin-bottom:15px;
}
.actual_item{
    display:flex;
}
.actual_first_div>div>.actual_item:first-of-type{
    margin-bottom:10px;
}
.actual_item>div>p:first-child{
    color:#000;
}
.actual_item>div>p:nth-child(2)>span{
    display:inline-block;
    color:#fff;
    background-color:#f58d26;
    padding:2px 5px;
    margin-right:6px;
}
.actual_item p{
    text-align: left;
}

.actual_item>div:first-child{
    width:40%;
    padding-left:30px;
}
.actual_item>div>p:first-child{
    margin-bottom:5px;
}
.actual_item>div>p>i{
    font-size:16px;
}
.margin_p{
    margin-top:10px;
}
/* -- */
.intro_ceo{
    display:flex;
    align-items: center;
}
.intro_ceo>div>img{
    max-width:50px;
}   
.intro_ceo>div:first-child{
    margin-left:10px;
}
.intro_ceo>div:nth-child(2){
    margin-left:20px;
    text-align: left;
}
.intro_ceo>div:nth-child(2)>p:first-child{
    font-size:16px;
    color:#000;
    margin-bottom:4px;
}
/* --- */
.safe_money_content>div:nth-child(2),.safe_money_content>div:nth-child(3){
    display:none;
}

/* 资金安全  专业风控  实力平台   结束*/




/* 固收专享页开始 （产品详情页）*/
.touzi_product_border>div{
    box-shadow: 0px 4px 10px 0.7px rgba(7, 0, 2, 0.2);
    border-radius:10px;
    padding:15px 10px;
    background-color:#fff;
}
.touzi_product_border>div:first-child{
    margin-bottom:15px;
}
.touzi_product_div1>h2{
    font-size:30px;
    text-align: center;
    color:#f58d26;
    font-weight:normal;
    margin-bottom:5px;
}
.touzi_product_div1>h3{
    text-align: center;
    margin-bottom:10px;
}
.ul_list_box{
    display:flex;
    justify-content: center;
}
.ul_list_box>li{
    /* width:24%; */
    flex-grow: 1;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    text-align: center;
    padding:10px 0;
}
.ul_list_box>li:not(:last-child){
    margin-right:15px;
}
.ul_list_box>li>p:first-child{
    color:#075bd9;
    margin-bottom:5px;
}
.touzi_product_div1>p{
    text-align: center;
    margin-top:10px;
}
/* --- */
.touzi_product_div2>h3{
    text-align: center;
    color:#075bd9;
    margin-bottom:10px;
}
.touzi_product_div2>ul>li:not(:last-child){
    margin-bottom:5px;
}
.touzi_product_div2>ul>li{
    font-size:12px;
    text-align: center;
}
.touzi_product_div2>ul>li>span:not(:last-child){
    display:inline-block;
    margin-right:5px;
}
.touzi_product_div2>p{
    text-align:center;
    margin-top:10px;
}
.touzi_product_div2>p>a{
    color:#f58d26;
}
/* 三小图 */
.touzi_pro_tp{
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-top:20px;
    margin-bottom:20px;
    text-align: center;
}
.touzi_pro_tp p{
    font-size:12px;
}
.touzi_pro_tp p img{
    max-width:50px;
}
.touzi_pro_tp>div>p:first-child{
    margin-bottom:5px;
}
/* 列表 */
.touzi_pro_list{
    margin-bottom:54px;
}

.touzi_pro_wz{
    margin-top:5px;
}
/* 立即借出（底部）  */
.all_html_bottom{
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    background-color:#075bd9;
}
.all_html_bottom>p>a{
    display:inline-block;
    color:#fff;
    font-size:20px;
    height:44px;
    width:100%;
    line-height:44px;
    text-align: center;
}
/* ---------------- */
.get_m,.set_wz{
    display:none;
}

/* 固收专享页结束 （产品详情页）*/


/* 借币信息页开始 */
/* 文字部分 */
.touzi_jiebi_wz>p{
    font-size:12px;
}
/* 借币信息 */
.touzi_jiebi_message{
    margin-top:15px;
    margin-bottom:15px;
}
.touzi_jiebi_message>div{
    box-shadow: 0px 4px 10px 0.7px rgba(7, 0, 2, 0.2);
    border-radius:10px;
    padding:15px 10px;
    background-color:#fff;
}
.touzi_jiebi_message>h3{
    font-size:16px;
    color:#075bd9;
    margin-bottom:10px;
}
.touzi_jiebi_content>p{
    margin-bottom:10px;
    font-size:16px;
    color:#000;
}
/* --- */
.touzi_jiebi_message_list>li{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 0;
    border-bottom:1px solid #ddd;
}
.touzi_jiebi_message_list>li>p:nth-child(2){
    max-width:55%;
    color:#075bd9;
    font-size:12px;
    text-align: right;
}

/* --- */
.tp_coll{
    text-align: center;
    margin-top:10px;
}
.tp_coll img{
    max-width:30px;
}
.touzi_jiebi_message>.touzi_jiebi_content:not(:last-child){
    margin-bottom:15px;
}

/* 借币信息页结束 */

/* 投资详情页开始 */
.touzi_xiangqing_box{
    margin-bottom:54px;
}
.touzi_xiangqing_border{
    box-shadow: 0px 4px 10px 0.7px rgba(7, 0, 2, 0.2);
    border-radius:10px;
    padding:15px 10px;
    background-color:#fff;
    margin-bottom:30px;
}
.touzi_xq_div1{
    border-bottom:1px solid #ddd;
}
.touzi_xq_div1>p{
    margin-bottom:10px;
}
.touzi_xq_div1>p:first-child>span:first-child{
    display:inline-block;
    margin-right:15px;
    font-size:16px;
    color:#000;
}
.touzi_xq_div1>p:first-child>span:nth-child(2){
    color:#f58d26;
}
.touzi_xq_div1>p:nth-child(2){
    font-size:18px;
    color:#000;
}
.touzi_xq_div1>p:nth-child(2)>span:first-child{
    display:inline-block;
    margin-right:40px;
}
.touzi_xq_div1>p:nth-child(3) img{
    width:100%;
    height:3px;
}
.touzi_xq_div1>p:nth-child(4){
    display:flex;
    justify-content: space-between;
    font-size:12px;
}
/* --- */
.touzi_xq_div2>div{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:15px;
    margin-bottom:10px;
}
.touzi_xq_div2>div>p:first-child>span{
    display:inline-block;
    font-size:16px;
    color:#000;
    margin-right:15px;
}
.touzi_xq_div2>div>p:first-child>i{
    color:#f58d26;
    font-size:12px;
}
.touzi_xq_div2>p{
    font-size:12px;
}
.touzi_xq_div2>p i{
    color:#f58d26;
}
/* 文字 */
.touzi_xq_wz{
    font-size:12px;
}

/* 支付弹出框 */
.mask_box{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 9999;
} 

.mask_container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color:#fff;
    width:85%;
    border-radius:10px;
    z-index:99999;
}
/* --- */
.pay_title{
    text-align: center;
    padding-top:15px;
    padding-bottom:8px;
    border-bottom:1px solid #ddd;
}
.pay_title>h3{
    font-size:18px;
    margin-bottom:6px;
}
.pay_title>p{
    margin-bottom:6px;
    color:#000;
}
.pay_title>h2{
    font-size:22px;
    color:#f58d26;
}
/* --- */
.mask_content{
    padding:10px;
    padding-bottom:20px;
}
.pay_way{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:10px;
}
.pay_way>div>a{
    display:flex;
    width:100%;
    align-items: center;
}
.pay_way>div>a>p:nth-child(2){
    margin-left:10px;
}
.pay_way>div>a>p:nth-child(2) img{
    max-height:20px;
    position: relative;
    top:1px;
}
/* ----- */
.pwd-box{
    width:100%;
    position: relative;
    overflow:hidden;
}
.pwd-input{
    width: 100%;
    height: 40px;
    color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    opacity: 0;
    z-index: 1;
}
.fake-box{
    display:flex;
    box-sizing: border-box;
}
.fake-box input{
    width: 14%;
    height: 40px;
    border: none;
    outline: none;
    border: 1px solid #000;
    text-align: center;
    font-size: 20px;
}
.fake-box input:not(:last-child){
    margin-right:2%;
}
.paying_box,.mask_container{
    display:none;
}

/* 投资详情页结束 */


/* 资产账户页开始 */
/* 资金 */
.my_account_money{
    box-shadow: 0px 4px 10px 0.7px rgba(7, 0, 2, 0.2);
    border-radius:10px;
    padding:15px 10px;
    background-color:#fff;
    margin-bottom:10px;
}
.my_account_money>p{
    text-align: center;
}
.my_account_money>p:first-child{
    margin-bottom:5px;
}
.my_account_money>p:first-child img{
    max-width:50px;
}
.my_account_money>p:nth-child(3){
    margin-top:10px;
}
.my_account_money>p:nth-child(3)>span:first-child{
    display:inline-block;
    margin-right:5px;
    font-size:18px;
    color:#f58d26;
}
.my_account_money>p:nth-child(3)>span:nth-child(2){
    font-size:12px;
}
/* --- */
.my_account_btc{
    display:flex;
    margin-top:15px;
}
.my_account_btc>div{
    width:50%;
    text-align: center;
}
.my_account_btc>div>p:first-child{
    color:#000;
    margin-bottom:5px;
}
.my_account_btc>div>p:nth-child(2){
    color:#f58d26;
}

.my_account_btc>div:first-child{
    border-right:1px solid #ddd;
}
/* 已获收益 */
.already_money{
    box-shadow: 0px 4px 10px 0.7px rgba(7, 0, 2, 0.2);
    border-radius:10px;
    padding:10px 10px;
    background-color:#fff;
    margin-bottom:10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.already_money>p:first-child{
    color:#000;
}
.already_money>p:nth-child(2){
    color:#f58d26
}

/* 充币and提币 */
.get_set_border{
    box-shadow: 0px 4px 10px 0.7px rgba(7, 0, 2, 0.2);
    border-radius:10px;
    background-color:#fff;
}
/* -- */
.get_set_t{
    display:flex;
    border-bottom:1px solid #000;
    padding-top:10px;
    justify-content: center;
}
.get_set_t>p{
    padding-bottom:5px;
    font-size:16px;
    border-bottom:2px solid transparent;
    font-weight:bold;
    
}
.get_set_t>p:first-child{
    border-bottom:2px solid #075bd9;
    margin-right:20%;
    color:#075bd9;
}
/* 充币 */
.set_m{
    text-align: center;
    padding:20px 5px;
}
.set_m>p:not(:last-child){
    margin-bottom:10px;
}
/* 温馨提示(充币) */
.get_wz{
    margin-top:30px;
    margin-bottom:30px;
}
.get_wz>p:first-child{
    margin-bottom:10px;
}
.get_wz>p:nth-child(2){
    font-size:12px;
}
/* 提币 */
.get_m{
    padding:5px 10px;
}

.get_m>div,.get_m>p{
    padding:5px;
}
.get_m>div{
    display:flex;
    justify-content: space-between;
}
.get_m>div>p:nth-child(2){
    border:1px solid #075bd9;
    border-radius:5px;
}
.get_m>div>p:nth-child(2)>a{
    font-size:12px;
    display:inline-block;
    padding:2px 5px;
}
.get_m>div>p:nth-child(2)>a:first-child{
    color:#FFF;
    background-color:#075bd9;
}
.get_pp{
    display:flex;
    justify-content: space-between;
}
.get_m>p:first-of-type{
    border-bottom:1px solid #ddd;
}
.get_m>p:first-of-type img{
    width:16px;
    height:16px;
}

.get_m>p:nth-of-type(2) input,.get_m>p:nth-of-type(3) input{
    border:0px;
    outline: none;
    margin-left:15px;
}

.get_m>p:nth-of-type(2){
    border-bottom:1px solid #ddd;
}
.color_orange{
    color:#f58d26;
}
/* 温馨提示（提币） */
.set_wz{
    margin-top:30px;
    margin-bottom:74px;
}
.set_wz>p:first-of-type{
    margin-bottom:10px;
}
.set_wz>p:nth-of-type(2){
    font-size:12px;
}


/* 资产账户页结束 */

/* 选择地址页开始 */
.address_list>li{
    box-shadow: 0px 4px 10px 0.7px rgba(7, 0, 2, 0.2);
    border-radius:10px;
    padding:15px 10px;
    background-color:#fff;
    margin-bottom:10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.address_list>li>div:first-child>p:first-child{
    color:#000;
    margin-bottom:5px;
}
.address_list>li>div:first-child>p:nth-child(2) span{
    display:inline-block;
    padding:2px 5px;
    font-size:12px;
    color:#fff;
    background-color:#f58d26;
    border-radius:8px;
}

/* 选择地址页结束 */

/* 资产明细页开始 */
.property_list{
    box-shadow: 0px 4px 10px 0.7px rgba(7, 0, 2, 0.2);
    border-radius:10px;
    margin-bottom:30px;
    background-color:#fff;
}
.property_list>li>a{
    padding:10px;
    padding-left:30px;
    border-bottom:1px solid #ddd;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.property_list>li>a>div:first-child>p:first-child::before{
    display:inline-block;
    content:'';
    width:16px;
    height:16px;
    border-radius:50%;
    background-color:#f58d26;
    position: relative;
    right:5px;
    top:2px;
}
.property_list>li>a>div:first-child>p:first-child{
    color:#000;
    font-weight:bold;
    position: relative;
    right:16px;
    margin-bottom:5px;
}
.property_list>li>a>div:nth-child(2)>p{
    font-size:16px;
    color:#f58d26;
}

/* 资产明细页结束 */


/* 资产明细详情页开始 */
.property_xq_box{
    box-shadow: 0px 4px 10px 0.7px rgba(7, 0, 2, 0.2);
    border-radius:10px;
    margin-bottom:30px;
    background-color:#fff;
}
.property_xq_box>p,.property_xq_box>div{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    border-bottom:1px solid #ddd;
}
.property_xq_box>p:first-of-type{
    font-size:16px;
    color:#f58d26;
}
.property_xq_box>p>span:first-child,.property_xq_box>div>div{
    color:#000;
}
.font-size_wz{
    font-size:12px;
}
/* 资产明细详情页结束 */


/* 我的出借页开始 */
.my_chujie_box{
    box-shadow: 0px 4px 10px 0.7px rgba(7, 0, 2, 0.2);
    border-radius:10px;
    margin-bottom:10px;
    background-color:#fff;
    padding:15px 10px;
    display:flex;
    justify-content: space-between;
}
.my_chujie_box>div>p:first-child{
    color:#000;
    margin-bottom:5px;
}
.my_chujie_box>div:first-child>p:nth-child(2)>span:first-child{
    color:#f58d26;
    font-size:16px;
}
.my_chujie_box>div:first-child>p:nth-child(2)>span:nth-child(2){
    font-size:12px;
}
.my_chujie_box>div:nth-child(2)>p:nth-child(2){
    color:#f58d26;
}
/* ------------------- */
.my_chujie_list{
    box-shadow: 0px 4px 10px 0.7px rgba(7, 0, 2, 0.2);
    border-radius:10px;
    margin-bottom:10px;
    background-color:#fff;
    padding:15px 0;
}
.my_chujie_t{
    display:flex;
    justify-content: space-around;
    border-bottom:1px solid #ddd;
}
.my_chujie_t>p{
    padding-bottom:10px;
    font-size:16px;
    color:#000;
    border-bottom:2px solid transparent;
}
.my_chujie_t>p:first-child{
    border-bottom:2px solid #075bd9;
}
/* ----------- */
.my_chujie_c{
    padding:0 10px;
}
.my_chujie_has_ul>li{
    padding:10px 0px;
}
.my_chujie_has_ul>li>a{
    display:block;
}
.my_chujie_has_ul>li>a>p{
    font-size:16px;
    color:#000;
}
.my_chujie_has_div{
    display:flex;
    align-items: center;
    border-bottom:1px solid #ddd;
    padding:10px 0px;
}
.my_chujie_has_div>div{
    flex-grow: 1;
}
.my_chujie_has_div>div:not(:first-child){
    padding-left:15px;
    border-left:1px solid #ddd;
}

.my_chujie_has_div>div:nth-child(3){
    display:flex;
    align-items: center;
}
.my_chujie_has_div>div>p:first-child{
    color:#f58d26;
    margin-bottom:5px;
}
.my_chujie_has_div>div>p:nth-child(2){
    color:#000;
}
.my_chujie_has_div>div:nth-child(3)>div>p:first-child{
    color:#f58d26;
    margin-bottom:5px;
}
.my_chujie_has_div>div:nth-child(3)>div>p:nth-child(2){
    color:#000;
}
.my_chujie_has_div>div:nth-child(3)>div:nth-child(2){
    margin-left:10px;
}
.my_chujie_has_div>div:nth-child(3)>div:nth-child(2) img{
    width:20px;
    height:16px;
}
/* --- */
.my_chujie_end{
    display:none;
}

/* 我的出借页结束 */


/* 邀请收益页开始 */
.income_fans,.income_fans_list{
    display:none;
}
.income_border{
    box-shadow: 0px 4px 10px 0.7px rgba(7, 0, 2, 0.2);
    border-radius:10px;
    margin-bottom:20px;
    background-color:#fff;
    padding:15px 0px;
}
.income_title{
    display:flex;
    justify-content: space-around;
    border-bottom:1px solid #ddd;
}
.income_title>p{
    border-bottom:2px solid transparent;
    padding-bottom:10px;
    font-size:16px;
    color:#000;
}
.income_title>p:first-child{
    color:#075bd9;
    border-bottom:2px solid #075bd9;
}
.income_award_div1{
    text-align: center;
    margin-top:10px;
    margin-bottom:15px;
    font-size:16px;
}
.income_award_div1>p:first-child{
    color:#000;
}
.income_award_div1>p:nth-child(2){
    color:#f58d26;
    margin-top:5px;
}
/* -------- */
.income_award_div2{
    display:flex;
}
.income_award_div2>div{
    flex-grow:1;
    text-align: center;
}
.income_award_div2>div:first-child{
    border-right:1px solid #ddd;
}
.income_award_div2>div>p:first-child{
    color:#000;
    margin-bottom:3px;
}
.income_award_div2>div>p:nth-child(2){
    font-size:12px;
    color:#f58d26;
}
/* ------------ */
.income_rules{
    margin-bottom:20px;
}
.income_rules>h3{
    text-align: center;
    font-size:16px;
    font-weight:normal;
    margin-bottom:10px;
}
.income_rules>p{
    font-size:12px;
    margin-bottom:5px;
    display: flex;
}
.income_rules>p>i{
    display:inline-block;
    width:12px;
    height:12px;
    background-color:#f58d26;
    border-radius:50%;
    flex-shrink: 0;
}
.income_rules>p>span{
    display:inline-block;
    margin-left:5px;
}

/* --------- */
.income_fans>div{
    display:flex;
    justify-content: space-around;
    margin-top:15px;
}
.income_fans>div>div>p:first-child{
    color:#f58d26;
    padding:3px 10px;
    border:1px solid #f58d26;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.income_fans>div>div>p:nth-child(2){
    color:#fff;
    background-color:#f58d26;
    padding:3px 10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
/* ------ */
.income_fans_list>h3{
    text-align: center;
    font-weight:normal;
    color:#075bd9;
    margin-bottom:10px;
    font-size:16px;
}
.income_fans_list>ul{
    margin-bottom:15px;
}
.income_fans_list>ul>li{
    display:flex;
    justify-content: space-between;
    border-bottom:1px solid #ddd;
    padding:10px 0px;
    color:#000;
}

/* 邀请收益页结束 */

/* 邀请好友页开始 */
.invite_friends_k1,.invite_friends_k2{
    box-shadow: 0px 4px 10px 0.7px rgba(7, 0, 2, 0.2);
    border-radius:10px;
    margin-bottom:10px;
    background-color:#fff;
    padding:15px 0px;
}
.invite_friends_k2{
    margin-bottom:54px;
}
.invite_friends_k1{
    text-align: center;
}
.invite_friends_k1>p:first-child,.invite_friends_k1>p:nth-child(3){
    font-size:16px;
    color:#075bd9;
}
.invite_friends_k1>p:nth-child(2){
    margin:15px 0;
}
.invite_friends_k1>p:last-child{
    margin-top:10px;
}
.invite_friends_k2>h3{
    color:#075bd9;
}
.invite_friends_k2>p{
    padding:1px 20px;
}


/* 邀请好友页结束 */


/* 身份认证页面开始 */
/* 中国大陆地区 */
.id_test_t{
    display:flex;
    justify-content: center;
    margin-bottom:15px;
}
.id_test_t>p{
    /* padding:6px 20px; */
    height:35px;
    width:140px;
    text-align: center;
    line-height:35px;
    font-size:16px;
}
.id_test_t>p:first-child{
    border-top:1px solid #075bd9;
    border-bottom:1px solid #075bd9;
    border-left:1px solid #075bd9;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color:#fff;
    background-color:#075bd9;
}
.id_test_t>p:nth-child(2){
    border-top:1px solid #075bd9;
    border-bottom:1px solid #075bd9;
    border-right:1px solid #075bd9;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color:#075bd9;
}
/* ------------ */
.id_k_one{
    box-shadow: 0px 4px 10px 0.7px rgba(7, 0, 2, 0.2);
    border-radius:10px;
    margin-bottom:15px;
    background-color:#fff;
    padding:15px;
}
.id_k_one>div:not(:last-child){
    margin-bottom:20px;
}
.id_k_one>div>p:first-child{
    color:#075bd9;
    margin-bottom:4px;
}
.id_k_one>div>p>input{
    height:34px;
    width:100%;
    border:1px solid #075bd9;
    outline: none;
    box-sizing: border-box;
    padding-left:15px;
}
/* ------------------- */
.id_k_two{
    display:flex;
    overflow-x: hidden;
}
.id_k_two>div{
    box-shadow: 0px 4px 10px 0.7px rgba(7, 0, 2, 0.2);
    border-radius:10px;
    margin-bottom:10px;
    background-color:#fff;
    padding:15px 10px;
    width:50%;
}
.id_k_two>div:first-child{
    margin-right:10px;
}
.idcard_div{
    position: relative;
}
.idcard_div>p:first-child{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
.idcard_div>p:first-child>input{
    width:100%;
    height:100%;
    opacity: 0;
}
.idcard_div>p:nth-child(2){
    text-align: center;
}
.idcard_wz{
    text-align: center;
}
.idcard_wz>p{
    margin-top:5px;
    font-size:12px;
}
.idcard_wz>p:not(:last-child){
    color:#075bd9;
}
.id_test_rules{
    font-size:12px;
    margin-bottom:54px;
}
.btn_id{
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    height:44px;
    background-color:#075bd9;
    margin:auto;
}
.btn_id button{
    width:100%;
    height:100%;
    border:none;
    background-color:transparent;
    font-size:18px;
    color:#fff;
}

/* .id_form2{
    display:none;
} */
/* ---select--- */
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
    border:1px solid #075bd9;
    outline: none !important;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    color:#333333;
    font-size:14px;
}
.btn {
    border-radius:0px;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #333333;
    background-color: transparent !important;
    border-color: transparent !important;
    outline: none !important;
}
.btn-default.focus, .btn-default:focus {
    color: #333333;
    background-color: transparent; 
    border-color: transparent;
    outline: none !important;
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.dropdown-menu.open{
    max-height: 200px !important;
    overflow: hidden;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right:0;
    z-index: 1000;
    min-width: 160px;
    font-size: 14px;
}
.dropdown-menu li.selected{
    border:0px !important;
    background-color: transparent !important;
    border-color:transparent !important;
}
.dropdown-menu>li>a:focus{
    border:0px !important;
    border-color:transparent !important;
    color: #333333;
    text-decoration: none;
    background-color: transparent !important;
}












/* 身份认证页面结束 */

